<div class="container-fluid">
    <div class="row" *ngIf=newImages>
        <div class="card">
            <div class="header">
                <h4 class="title">Upload images
                    <a type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="newImages=!newImages">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-11 col-md-offset-1">
                        <div class="row">
                            <form name="images-form" (ngSubmit)="f.form.valid && create()" #f="ngForm" novalidate>
                                <div class="form-group col-md-6">
                                    <label class="btn btn-primary" style="width: 50%;">
                                        Browse
                                        <input type="file" name="image" multiple required hidden (change)="fileChange(input)" #input />
                                    </label>

                                </div>
                                <div class="form-group col-md-6">
                                    <button type="submit" class="btn btn-success" style="width: 50%;">Create</button>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div *ngFor='let src_img of file_srcs' class="img-preview">
                                <img src="{{ src_img }}" alt="" width="200" height="200" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">
                        Gallery
                        <b> {{ album.name }} </b>
                        <div style="float:right;">
                            <span class="btn btn-primary" (click)="newImages=!newImages">Add Images</span>
                            <span class="btn btn-success" (click)="newImages=!newImages">Run Algorithm</span>
                            <span class="btn btn-danger" (click)="deleteGallery(id)">Delete</span>
                        </div>
                    </h4>
                    <hr>
                </div>
                <div class="content">
                    <div class="row text-center text-lg-left">
                        <div *ngFor="let currentImage of album.images" class="col-md-4">
                            <div class="image-container">
                                <img src="{{ currentImage.data }}" alt="{{ currentImage.name }}" class="image" style="width:100%">
                                <div class="middle">
                                    <div class="text">
                                        <p>
                                            <b>Image caption: </b>{{ currentImage.name }} With Really Big Caption Generated
                                            With Python Machine Learning
                                        </p>
                                        <p>
                                            <b>Created: </b>{{ currentImage.created_at }}
                                        </p>
                                        <hr>
                                        <div>
                                            <div style="font-size: 0.9em;">
                                                <a style="color:#7AC29A;" (click)="deleteImage(currentImage.id)">Run algorithm</a>
                                                |
                                                <a style="color:#EB5E28;" (click)="deleteImage(currentImage.id)">Delete</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>