<div style="border-top: 1px solid rgba(102, 97, 91, 0.3);">
    <p>Search images</p>
    <form (ngSubmit)="onSubmit(); searchForm.reset();" #searchForm="ngForm">
        <div class="form-group">
            <label for="title">Describe your image</label>
            <textarea class="form-control border-input" [(ngModel)]="model.description" id="description" name="description" placeholder="Descriptions" rows="4" cols="50"></textarea>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!searchForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="newSearch();">Reset</button>
    </form>
</div>